body {
    font-size: 12px;
    position: absolute;
    background-image: url("space.jpg");
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.container {
    height: 100%;
    width: 100%;  
    
}



@media (max-width: @screen-xs) {
    body {
        font-size: 20px;
    }

    .countscontainer {
        font-size: 50px;
        bottom: 5px;
        left: 5px;
        height: 100px;
        width: 100px;
    }

    .countstable > thead > tr > td,
    .countstable > thead > tr > th {
        font-size: 50px;
        white-space: nowrap;
       
    }
    img {
        height: 8px;
        width: 8px;
    }
}

@media (max-width: @screen-sm) {
    body {
        font-size: 22px;
    }

    .countscontainer {
        font-size:100px;
        top: 5px;
        bottom: 5px;
    }

    .countstable > thead > tr > td,
    .countstable > thead > tr > th {
        font-size: 100px;
        white-space: nowrap;
       
    }
    img {
        height: 15px;
        width: 15px;
    }
}

/* NEW */
@media (min-width: 600px) {
    body {
        font-size: 22px;
    }

    .countscontainer {
        font-size: 15px;
        bottom: 60px;
        left: 15px;
        top: inherit;
    }

    .countstable > thead > tr > td,
    .countstable > thead > tr > th {
        font-size: 15px;
        white-space: nowrap;
       
    }

    img {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0px;
        right: 20px;
    }
}

/* NEW
*/
@media (min-width: 1000px) {
    body {
        font-size: 22px;
    }

    .countscontainer {
        font-size: 25px;
        bottom: 60px;
        left: 15px;
        top: inherit;
    }

    .countstable > thead > tr > td,
    .countstable > thead > tr > th {
        font-size: 25px;
        white-space: nowrap;
       
    }

    img {
        height: 80px;
        width: 80px;
        position: absolute;
        top: 0px;
        right: 20px;
    }
}
/* NEW */
@media (min-width: 1400px) {
    body {
        font-size: 22px;
    }

    .countscontainer {
        font-size: 35px;
        bottom: 60px;
        left: 15px;
        top: inherit;
    }

    .countstable > thead > tr > td,
    .countstable > thead > tr > th {
        font-size: 35px;
        white-space: nowrap;
        
    }

    img {
        height: 95px;
        width: 95px;
        position: absolute;
        top: 0px;
        right: 20px;
    }
}


/* TV Screen */
@media (min-width: 1800px) {
    body {
        font-size: 22px;
    }

    .countscontainer {
        font-size: 45px;
        bottom: 60px;
        left: 15px;
        top: inherit;
    }

    .countstable > thead > tr > td,
    .countstable > thead > tr > th {
        font-size: 45px;
        white-space: nowrap;
        
    }
    img {
        height: 115px;
        width: 115px;
        position: absolute;
        top: 0px;
        right: 20px;
    }
}

.countscontainer {
    background-color: #ffffff;
    opacity: 0.80;
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    left: 10px;
    
}

#map_div, svg, .svgMap-map-wrapper {
    width: 100%;
    height: 100%;
}

#startedtoday, #completedtoday, #activetoday, #totalrecentstarts {
    
    color: black;
    text-align: center;
}

.countstable,
.countstable > tbody > tr > td,
.countstable > tbody > tr > th,
.countstable > tfoot > tr > td,
.countstable > tfoot > tr > th,
.countstable > thead > tr > td,
.countstable > thead > tr > th {
    border: none;
    vertical-align: middle;
    font-weight: bold;
    color: black;
}

    .countstable > tbody > tr > td,
    .countstable > tbody > tr > th,
    .countstable > tfoot > tr > td,
    .countstable > tfoot > tr > th,
    .countstable > thead > tr > td,
    .countstable > thead > tr > th {
        padding: 1px;
    }

img {
    max-width: 115px;
    max-height: 115px;
    position: absolute;
    top: 0px;
    right: 20px;
}
legend{
    height: 500px;
    width: 500px;
}